# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/
_posts/2022-02-20-test.md
_posts/2022-08-21-JupyterNotebook.md
_posts/2022-08-26-Bash-Kernel.md
_posts/2022-08-28-quiz.md
_posts/2022-09-05-TP120-python_lists.md
_posts/2022-09-24-javascript.md
_posts/2022-10-03-AP-error_testing.md
_posts/2022-10-03-PBL-python_rapidapi.md
_posts/2022-10-20-webapi.md
_posts/2022-10-21-javascript_frontend.md
_posts/2022-12-06-Section9&11.md